.slidebox{
     width: 100%;
    height: 100vh;
     margin: 20px 0 0 0;
     padding: 0;
   
//     .slideLeft{
//         font-size: 40px;
//         font-weight: bold;  
//         position: absolute;
//         left:10px;
//         top:50%;
//         margin: 0;
//         color:#fff
//     }
//     .slideRight{
//         font-size: 40px;
//         font-weight: bold;  
//         position: absolute;
//         right:10px;
//         top:50%;
//         margin: 0;
//         color:#fff
//     }
}

 .slide{
        // margin-top:35px;
        width: 100%;
        height: 90vh;
        
    }



// @media(min-width:992px) {
// .slide{
//     width:100%;
//     height: 200px;
// }

// }